<po-page-default p-title="Function x Company">
  <div>
  <po-table 
  [p-columns]="columns" [p-items]="items"
  [p-header-height]="headerHeight"
  [p-header-style]="{height: '50px'}"
  >
    <ng-template p-table-row-template let-rowItem let-i="rowIndex" [p-table-row-template-show]="isUndelivered"
      po-table-column name="cfunction" label="Function" let-item>
      {{ item.cfunction }}
    </ng-template>
    <ng-template po-table-column name="reducedCode" label="Reduced Code" let-item>
      {{ item.reducedCode }}
    </ng-template>
    <ng-template po-table-column name="company" label="Company" let-item>
      {{ item.company }}
    </ng-template>
  </po-table>
</div>
</po-page-default>