<po-page-list p-title="Rotina x Empresa"
[p-breadcrumb]="breadcrumb"
[p-actions]="PageActions"
>  
<div class="po-m-5">
<po-table
  [p-columns]="columns"
  [p-items]="items"
  [p-draggable]="true"
  [p-hide-columns-manager]="true"
  [p-hide-table-search]="false"
  [p-auto-collapse]="false"
  [p-sort]="true"
  [p-striped]="true"
  [p-infinite-scroll]="false"
  [p-loading-show-more]="true"
  [p-show-more-disabled]="true"
  [p-striped]="true"
  [p-selectable]="false"
  [p-height]="400"
  [p-actions]="actions"
>
</po-table>
</div>
</po-page-list>

<po-modal #pageModal [p-title]="title">
  <form #f="ngForm" [formGroup]="modalForm">
  <div class="po-row">
    <po-input class="po-md-6" formControlName="cfunction"  p-clean p-icon="po-icon po-icon-document-filled" p-label="Rotina:" [p-disabled]="disabled" > </po-input>
    <po-input class="po-md-6" formControlName="company"  p-clean p-icon="po-icon po-icon-company" p-label="Empresa:" [p-disabled]="disabled"> </po-input>
  </div>
  <div class="po-row"> 
    <po-input class="po-md-6" formControlName="abbreviation"  p-clean p-icon="po-icon po-icon-company" p-label="Sigla:" p-clean="true" > </po-input>
  </div>
  <div class="po-row">
    <po-switch
    formControlName="active"
  p-label="Status"
  p-label-off="Inativo"
  p-label-on="Ativo"
  p-format-model="true"
>
</po-switch>
  </div>
</form>
<po-modal-footer [p-disabled-align]="false">
  <po-button p-danger="true" p-label="Close" (p-click)="closeModal()"> </po-button>
  <po-button p-kind="primary" p-label="Confirm" (p-click)="confirmModal()"> </po-button>
</po-modal-footer>
</po-modal>

