#table-container {
    position: relative;
    width: 80%; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centralize a tabela */
    top: 50px; /* Ajuste a posição superior conforme necessário */
  }

  .po-modal-fields {
    margin: 0 10px;
  }

  @media (max-width: 768px) {
    .po-table {
      font-size: 14px;
    }
  
    .po-table th, .po-table td {
      padding: 5px;
    }
  }
  
  @media (max-width: 480px) {
    .po-table {
      font-size: 12px;
    }
  }