<po-page-default p-title="Rotina x Empresa"
[p-breadcrumb]="breadcrumb"
> 
  
<po-table
  [p-columns]="columns"
  [p-items]="items"
  [p-draggable]="true"
  [p-hide-columns-manager]="true"
  [p-hide-table-search]="false"
  [p-auto-collapse]="true"
  [p-sort]="true"
  [p-striped]="true"
  [p-draggable]="true"
  [p-infinite-scroll]="false"
  [p-loading-show-more]="true"
  [p-show-more-disabled]="true"
  [p-striped]="true"
  [p-selectable]="true"
  [p-selectable]="true"
  [p-height]="400"
  (p-delete-items)="deleteItems($event)"
  [p-actions]="actions"
>
  <ng-template
    p-table-row-template
    let-rowItem
    let-i="rowIndex"
  >
  </ng-template>
</po-table>
</po-page-default>