<po-page-default p-title="Rotina x Empresa"
[p-breadcrumb]="breadcrumb"
>  
<po-table
  [p-columns]="columns"
  [p-items]="items"
  [p-draggable]="true"
  [p-hide-columns-manager]="true"
  [p-hide-table-search]="false"
  [p-auto-collapse]="false"
  [p-sort]="true"
  [p-striped]="true"
  [p-infinite-scroll]="false"
  [p-loading-show-more]="true"
  [p-show-more-disabled]="true"
  [p-striped]="true"
  [p-selectable]="false"
  [p-height]="400"
  [p-actions]="actions"
>
</po-table>
</po-page-default>

<po-modal #updateModal p-title="Alteração">
  <po-dynamic-view [p-fields]="updateFields" [p-value]="valueFields"> </po-dynamic-view>
</po-modal>
